# Core
gymnasium
numpy
pandas

# LLM APIs
groq
openai
huggingface-hub
google-generativeai

# PDF Processing
PyPDF2
pdfplumber
pymupdf

# GitHub
GitPython
requests

# Demo
gradio
gradio-client

# Utilities
python-pptx
python-dotenv
tqdm

# API and React Serving
fastapi
uvicorn
python-multipart

# Training
torch
transformers
datasets
stable-baselines3
shimmy
